.icon img {
  height: 9rem;
  transform: scale(1.3);
}

.icon--big {
  grid-row: span 2;

  img {
    align-self: center;
  }
}

.flip.icon img,
.flip.icon--big img {
  transform: scale(-1, 1);
}

.themed-icon {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;

  img {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    transition: 0ms;
  }
}

.icon--footer .themed-icon {
  height: 7rem;
}

.icon--footer img {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: min(15rem, 70%);
  height: auto;
  transform: none;
}
