@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-primary;

    &:hover {
      @apply underline;
    }
    &:focus-visible {
      border-radius: theme("spacing[0.5]");
    }
  }
}

@layer utilities {
  .tap-transparent {
    -webkit-tap-highlight-color: transparent;
  }

  .linecap-round {
    stroke-linecap: round;
  }
}
