:root {
  --white-color: 250 251 255;
  --black-color: 36 36 36;
  --disabled-dark-color: #9b9b9b;
  --disabled-light-color: #efefef20;
  --gray-color: #b6b6b6;
  --error-color: #ff4d4f;
  --overlay-color: #22222280;
  --vh: 100vh;
  --transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0s;
  --max-page-width: 50rem;
}

@supports (height: 100dvh) {
  :root {
    --vh: 100dvh;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--white-color);
    --background-color: var(--black-color);
    --secondary-background-color: 95 93 93;
    --primary-color: 95 229 241;
    --dynamic-gray-color: #b6b6b6;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--black-color);
    --background-color: 255 255 255;
    --secondary-background-color: var(--white-color);
    --primary-color: 16 119 128;
    --dynamic-gray-color: #696969;
  }
}
