#menu-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;

  svg {
    position: absolute;
    right: -0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: theme(borderRadius.DEFAULT);
    stroke-linecap: round;

    rect {
      transition-duration: 0.2s;
      fill: theme(colors.primary);
    }
  }

  &:focus-visible {
    outline: none;

    svg {
      transition:
        var(--transition),
        outline-offset 0s,
        outline 0s;
      outline: 3px solid rgba(var(--primary-color), 0.5);
      outline-offset: 0;
    }
  }
}

.menu__popup:popover-open,
.menu__popup.\:popover-open {
  top: theme(spacing.header-height);
  right: max(calc(50% - theme(spacing.max-page-width) / 2 - 1rem), 0px);
  left: unset;
  width: 100vw;
  height: calc(var(--vh) - theme(spacing.header-height));
  margin: 0;
  padding: 0;
  border: 0 transparent;
  background-color: theme(colors.background-secondary);

  + #menu-button {
    #menu__rect-1 {
      transform: translate(-3px, 20.5px) rotate(-45deg);
    }

    #menu__rect-2 {
      opacity: 0;
    }

    #menu__rect-3 {
      transform: translate(20px, -10.5px) rotate(45deg);
    }
  }
}

@media screen and (min-width: theme(screens.lg)) {
  .menu__popup:popover-open,
  .menu__popup.\:popover-open {
    width: max-content;
    height: max-content;
    border-radius: 0 0 theme(borderRadius.DEFAULT) theme(borderRadius.DEFAULT);
    box-shadow: 0 3px 5px -2px rgba(3, 82, 86, 0.5);
  }
}
